<!-- ABOUT US -->
<section id="sobre-nosotros" class="w-full flex flex-col justify-between items-center">
  <div class="px-6 md:pe-24 md:ps-0 pt-0 w-full flex justify-between items-center">
    <div class="hidden md:block bg-fixed h-[750px] w-2/4 bg-[length:800px_1000px] bg-no-repeat bg-[url('/vox-landing/assets/media/img/images/image-04.jpg')]">
      <div class="h-[800px]">&nbsp;</div>
    </div>
    <div class="ms-0 md:ms-24 w-full md:w-2/4 h-full">
      <h2 class="text-2xl md:text-4xl text-left mb-8 border-b border-vox text-hover">Sobre Nosotros</h2>
      <p class="hidden text-lg md:text-xl text-left leading-relaxed">
        BLÖT VÖX: "Vox" es una palabra en latin que significa "voz" o "sonido". Podría significar también la repercusión, sonido, GRITOS.
        <br/>
        <br/>
        El espacio donde uno trabaja desde el interior para un buen resultado. La voz interna, BLOT VOX.
      </p>
      <p class="text-lg md:text-xl text-left leading-relaxed">
        En BLÖT VÖX, nos dedicamos a transformar vidas a través del fitness y el bienestar integral. Somos mucho más que un gimnasio; somos un espacio diseñado para potenciar tu cuerpo, mente y espíritu.
        <br/>
        <br/>
        Creemos en la importancia de adoptar un estilo de vida activo y saludable, adaptado a cada individuo. Nuestra filosofía se basa en ofrecer programas de entrenamiento innovadores, acompañados de una atención personalizada y un ambiente acogedor que te motive a alcanzar tus objetivos de salud y bienestar.
      </p>
    </div>
  </div>
  <div class="block md:hidden bg-fixed h-auto w-full mt-24">
    <img src="/vox-landing/assets/media/img/images/image-04.jpg"/>
  </div>
</section>
