---
import Cover from "./Cover.astro";
import AboutUs from "./AboutUs.astro";
import Vox from "./Vox.astro";
import Footer from "../commons/layout/Footer.astro";
---

<!-- HOME -->
<div id="home">
  <Cover/>
	<AboutUs/>
	<Vox/>
  <Footer/>
</div>
