---
import Cover from "./Cover.astro";
import AboutUs from "./AboutUs.astro";
import Vox from "./Vox.astro";
import Footer from "../commons/Footer.astro";
import Scripts from "../commons/Scripts.astro";
---

<div id="home">
  <Cover/>
	<AboutUs/>
	<Vox/>
  <Footer/>
  <Scripts/>
</div>
