---
import Header from "../commons/layout/Header.astro";
import Footer from "../commons/layout/Footer.astro";
import Title from "../commons/displayers/Title.astro";
import MapAndForm from "./MapAndForm.astro";
import Info from "./Info.astro";
---

<!-- CONTACT -->
<div id="contact">
  <Header className="p-6 md:py-3 md:py-1 bg-vox-950" />

  <main class="container mx-auto mt-24 flex flex-col items-center justify-center space-y-24">
    <Title title="Contacto" />
    <MapAndForm />
    <Info />
  </main>

  <Footer/>
</div>
