<!-- FORM -->
<div class="flex flex-col items-start justify-center space-y-6 w-full md:w-2/4 order-1 md:order-2 px-6 md:px-0">
  <div class="flex flex-col items-start justify-center w-full">
    <label class="text-base md:text-lg text-left text-vox-950 text-hover" for="name">Nombre</label>
    <input class="text-base md:text-lg text-left text-vox-950 border rounded-sm p-1 mt-1 w-full md:w-2/4" type="text" placeholder="Jose Canseco..." value="" />
  </div>
  <div class="flex flex-col items-start justify-center w-full">
    <label class="text-base md:text-lg text-left text-vox-950 text-hover" for="name">Correo Electrónico</label>
    <input class="text-base md:text-lg text-left text-vox-950 border rounded-sm p-1 mt-1 w-full md:w-2/4" type="email" placeholder="jose.canseco@gmail.com..." value="" />
  </div>
  <div class="flex flex-col items-start justify-center w-full">
    <label class="text-base md:text-lg text-left text-vox-950 text-hover" for="name">Mensaje</label>
    <textarea class="text-base md:text-lg text-left text-vox-950 border rounded-sm p-1 mt-1 w-full md:w-3/4" rows="5" placeholder="Hola soy Jose Canseco y me interesa..."></textarea>
  </div>
  <div class="flex flex-col items-start justify-center w-full">
    <button type="button" class="bg-transparent hover:bg-vox-950 text-base md:text-lg text-vox-950 font-semibold hover:text-white py-2 px-4 border border-vox-950 hover:border-transparent rounded">Enviar</button>
  </div>
</div>
</section>
