<!-- CONTACT - INFO -->
<section class="flex flex-col md:flex-row items-start justify-between space-x-0 md:space-y-0 md:space-x-24 w-full px-6 md:px-0">
  <div class="flex justify-start md:justify-end self-start md:self-end w-full md:w-2/4">
    <p class="text-base md:text-lg text-left text-vox-950 text-hover w-auto">
      <b>VÖX</b>
      <br/>Av. Constituyentes 1235,
      <br/>B1617 Gral. Pacheco, Provincia de Buenos Aires
      <br/>Tel: +5491125642067
    </p>
  </div>
  <p class="text-base md:text-lg text-left text-vox-950 text-hover self-start w-full md:w-2/4 mt-12 md:mt-0">
    <b>Horarios</b>
    <br/>Lunes - Viernes: 07:00 - 22:00
    <br/>Sábado: 07:00 - 13:00
    <br/>Domingo: 07:00 - 12:00 
  </p>
</section>
