<!-- CONTACT - MAP -->
<div class="map w-full md:w-2/4 h-[440px] order-2 md:order-1 mt-24 md:mt-0">
  <iframe class="border-none w-full h-full" allowfullscreen="" loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDvsne-xQTXi8EyW9yCTQefdi11DMpUt8&amp;q=Av.+Constituyentes+1235%2C+B1617+Gral.+Pacheco%2C+Provincia+de+Buenos+Aires"></iframe>
</div>
