<!-- FOOTER -->
<footer class="p-6 mt-24 bg-vox-950 text-white text-center">
  <div class="container mx-auto flex flex-col md:flex-row space-y-8 md:space-y-0 items-start justify-center md:justify-between">
    <div class="flex flex-col items-start justify-center space-y-2">
      <a href="https://blotarg.com/" target="_blank" class="underline text-sm text-white text-hover">BLÖT Store</a>
      <a href="#actividades" class="underline text-sm text-white text-hover">Actividades</a>
      <a href="/vox-landing/el-vox" class="underline text-sm text-white text-hover">El VOX</a>
      <a href="/vox-landing/contacto" class="underline text-sm text-white text-hover">Contacto</a>
      <div class="hidden md:block h-4">&nbsp;</div>
      <a href="#top" class="hidden md:block text-sm text-white text-hover w-32">
        <div class="flex items-center justify-start space-x-4 h-6">
          <svg class="ic-arrow-top h-6 w-6 me-2" viewBox="6.227 5.836 189 189" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path d="M100.727 5.836c-52.192 0-94.5 42.309-94.5 94.501 0 52.191 42.309 94.499 94.5 94.499s94.5-42.309 94.5-94.499-42.309-94.501-94.5-94.501zm33.933 97.98l-5.306 5.306-39.877 39.877a4.919 4.919 0 0 1-6.958 0l-1.827-1.827a4.922 4.922 0 0 1 0-6.959l36.397-36.397a4.92 4.92 0 0 0 0-6.959L80.691 60.46a4.922 4.922 0 0 1 0-6.959l1.827-1.827a4.919 4.919 0 0 1 6.958 0l39.877 39.877 5.306 5.306a4.92 4.92 0 0 1 .001 6.959z"></path>
            </g>
          </svg>
          Volver arriba
        </div>
      </a>
    </div>
    <div class="flex flex-col items-start justify-center space-y-2">
      <div class="flex flex-col items-start justify-between space-y-2">
        <p class="text-sm text-left text-white text-hover">
          <b>VÖX</b>
          <br/>Av. Constituyentes 1235,
          <br/>B1617 Gral. Pacheco, Provincia de Buenos Aires
          <br/>Tel: +5491125642067
        </p>
      </div>
      <div class="h-4 md:h-10">&nbsp;</div>
      <div class="flex flex-col md:flex-row items-center md:items-end justify-center md:justify-between space-y-4 space-x-0 md:space-y-0 md:space-x-16">
        <div class="flex items-center justify-center space-x-4">
          <!-- Logo de redes sociales -->
          <a href="#">
            <img src="/vox-landing/assets/media/img/ic-facebook.png" alt="Facebook" class="w-6 h-6" />
          </a>
          <a href="#">
            <img src="/vox-landing/assets/media/img/ic-instagram.png" alt="Instagram" class="w-6 h-6" />
          </a>
          <a href="#">
            <img src="/vox-landing/assets/media/img/ic-youtube.png" alt="TikTok" class="w-6 h-6" />
          </a>
        </div>
        <p class="text-gray-500 text-sm text-left">&copy; 2024 BLÖT VÖX. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
