---
import Header from "../commons/layout/Header.astro";
import Footer from "../commons/layout/Footer.astro";
import Title from "../commons/displayers/Title.astro";
import Facilities from "./Facilities.astro";
import Services from "./Services.astro";
---

<!-- EL VOX -->
<div id="el-vox">
  <Header className="p-6 md:py-3 md:py-1 bg-vox-950" />

  <main class="mt-24 flex flex-col items-center justify-center space-y-24">
    <Title title="El VÖX" />
    <Facilities />
    <Services />
  </main>

  <Footer/>
</div>
